# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
src/main/generated/.cache
*.DS_Store

# vscode
.vscode/

# fabric
server_run/
*.log
*.jar
*.ini
logs/

# vye
*.asd

# bunten
*.py
/src/
